<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="CG.AppFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.SourceRoot)\**">
        <Exclude Files="$(var.SourceRoot)\.git\**" />
        <Exclude Files="$(var.SourceRoot)\node_modules\**" />
        <Exclude Files="$(var.SourceRoot)\logs\**" />
        <Exclude Files="$(var.SourceRoot)\reports\**" />
        <Exclude Files="$(var.SourceRoot)\dist\installer\**" />
        <Exclude Files="$(var.SourceRoot)\apps\backend\storage\**" />
      </Files>
    </ComponentGroup>
  </Fragment>
</Wix>
