global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - alert.rules.yml

scrape_configs:
  - job_name: backend
    metrics_path: /api/metrics
    static_configs:
      - targets:
          - host.docker.internal:3000
  - job_name: portal
    metrics_path: /api/portal/metrics
    static_configs:
      - targets:
          - host.docker.internal:3001
