<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
    Name="EvaluaPro Setup Estable"
    Manufacturer="I.S.C. Erick Renato Vega Ceron"
    Version="0.2.0.0"
    IconSourceFile="$(var.SourceRoot)\scripts\icons\dashboard-prod.ico"
    UpgradeCode="6EA80CBA-C4F5-4434-8B27-B66480ABAB4A">

    <Variable Name="InstallDesktopShortcuts" Type="numeric" Value="1" Persisted="yes" />
    <Variable Name="InstallStartMenuShortcuts" Type="numeric" Value="1" Persisted="yes" />
    <Variable Name="InstallFolder" Type="string" Value="C:\Program Files\EvaluaPro" Persisted="yes" bal:Overridable="yes" />

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        Theme="hyperlinkLicense"
        LogoFile="$(var.SourceRoot)\logos\logo_sys.png"
        LicenseUrl="https://www.gnu.org/licenses/agpl-3.0.html"
        ShowVersion="yes"
        SuppressOptionsUI="no" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage
        Id="EvaluaProMsi"
        SourceFile="$(var.SourceRoot)\dist\installer\EvaluaPro.msi"
        Visible="yes">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
        <MsiProperty Name="INSTALL_DESKTOP_SHORTCUTS" Value="[InstallDesktopShortcuts]" />
        <MsiProperty Name="INSTALL_STARTMENU_SHORTCUTS" Value="[InstallStartMenuShortcuts]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
